@model ProductListView


@foreach (var p in Model.Products)
{
  <partial name="ProductInfo" model="@p"/>

}
    <div page-model="@Model.PagingInfo" page-action="ListProducts" page-class-enabled="true"
         page-class="btn" page-class-normal="btn-secondary"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1">
    </div>